body {
    margin: 0 auto;
    width: 300px;
}
div:first-child {
    padding: 10px 0 10px 50px;
}
.close-1 {
    left: 140px; top: -1428px;
}
.close-2 {
    left: 113px; top: -1226px;
}
.close-3 {
    left: 85px; top: -1025px;
}
.close-4 {
    left: 60px; top: -824px;
}
.close-5 {
    left: 32px; top: -622px;
}
.close-6 {
    left: 4px; top: -422px;
}
.close-7 {
    left: -22px; top: -222px;
}
.close-8 {
    left: -50px; top: -22px;
}
/*Pictures features*/
.pic {
    margin: 2% 8% 8.5% 8%;
    min-height: 10em;
    width: 80%;
}